<div id="<%= dom_id fitness_class %>">
  <p>
    <strong>Room:</strong>
    <%= fitness_class.room_id %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= fitness_class.trainer_id %>
  </p>

  <p>
    <strong>Group session:</strong>
    <%= fitness_class.group_session %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= fitness_class.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= fitness_class.end_time %>
  </p>

</div>
