<div data-controller="exercise-form">
  <%= form_with(model: fitness_goal) do |form| %>
    <% if fitness_goal.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(fitness_goal.errors.count, "error") %> prohibited this fitness_goal from being saved:</h2>
        <ul>
          <% fitness_goal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :member_id, value: current_user.roleable_id %>

    <div class="mb-3">
      <%= form.label :exercise_id, style: "display: block", class:"form-label" %>
      <%= form.select :exercise_id,
        Exercise.all.collect { |exercise|
          [exercise.name, exercise.id, {
            'data-has-weight': exercise.has_weight,
            'data-has-time': exercise.has_time,
            'data-has-distance': exercise.has_distance
          }]
        }, {}, {
          id: "exercise_select",
          class: "form-select",
          data: {
            "exercise-form-target": "exercise",
            action: "change->exercise-form#updateFields"
          }
        } %>
    </div>

    <div class="mb-3">
      <%= form.label :repetitions, style: "display: block", class:"form-label" %>
      <%= form.number_field :repetitions, class:"form-control" %>
    </div>

    <div class="mb-3" id="weight_wrapper" style="display: none" data-exercise-form-target="weightWrapper">
      <%= form.label :weight, style: "display: block", class:"form-label" %>
      <%= form.number_field :weight, class:"form-control" %>
    </div>

    <div class="mb-3" id="time_wrapper" style="display: none" data-exercise-form-target="timeWrapper">
      <%= form.label :time, style: "display: block", class:"form-label" %>
      <%= form.number_field :time, class:"form-control" %>
    </div>

    <div class="mb-3" id="distance_wrapper" style="display: none" data-exercise-form-target="distanceWrapper">
      <%= form.label :distance, style: "display: block", class:"form-label" %>
      <%= form.number_field :distance, class:"form-control" %>
    </div>

    <div>
      <%= form.submit "Submit", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
