<%= form_with(model: fitness_class_exercise_routine) do |form| %>
  <% if fitness_class_exercise_routine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fitness_class_exercise_routine.errors.count, "error") %> prohibited this fitness_class_exercise_routine from being saved:</h2>

      <ul>
        <% fitness_class_exercise_routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fitness_class_id, style: "display: block" %>
    <%= form.text_field :fitness_class_id %>
  </div>

  <div>
    <%= form.label :exercise_routine_id, style: "display: block" %>
    <%= form.text_field :exercise_routine_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
